@font-face {
    font-family: Titulo; 
    src:url(../src/fontes/ANODETONOONE.TTF);
}


                  /*Titulo do jogo*/
h1{
    font-family: Titulo; 
    font-size: 40px;
    color: #603A03;
}

body{
    background-image:url(../src/imgs/fundo_game.jpg);
}

p{
    color: aliceblue;
    background-color: black;
    margin-right: 933px;
}