@font-face { /*Comando html3*/
    font-family: Titulo; 
    src:url(../src/fontes/ANODETONOONE.TTF);
}


                  /*Titulo do jogo*/
h1{
    font-family: Titulo; 
    font-size: 40px;
    color: #00C7D8;
    
}

body{
    background-image:url(../src/imgs/fundo.jpg);
}

/*p{
    color: red;
    background-color: black;
    margin-right: 933px;
}*/

/*Posicionamento de cada DIV*/

#container{
    width: 950px; /*Largura*/
    height: auto; /*tamanho*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fundoGame{
    width: 950px;
    height: 630px;
    background-image: url(../src/imgs/fundo_game.jpg); /*Fundo do jogo, trocar essa foto*/
    border-color: #ffffff;
    border-style: solid;
}

#jogador{
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(../src/imgs/apache.png);

}

#inimigo1{
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url(../src/imgs/inimigo1.png);


}
#inimigo2{}

#amigo{}

#inicio{
    width: 350px;
    height:270px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}


/*Inicio de rotação do helicoptero amigo*/
.anima1{
    background-image: url(../src/imgs/apache.png); /*Imagem do professor é a helicoptero*/
    animation: play .5s steps(2) infinite;

    /*INdicação da animação em outros navegadores (OBS: No Google Chrome já deu certo)*/
    -webkit-animation:play .5s steps(2) infinite;
    -moz-animation:play .5s steps(2) infinite;
    -ms-zoom-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite;
    /*Fim de indicação da animação, após isso tem que apontar o frame de cada um*/
}
@keyframes play{
    from {background-position: 0px;}
    to {background-position: -512px;}
}
/*FINAL de rotação do helicoptero amigo*/


/*Frames para cada navegador*/
@-webkit-keyframes play{
    from {background-position: 0px;}
    to {background-position: -512px;}
}

@-moz-keyframes play{
    from {background-position: 0px;}
    to {background-position: -512px;}
}

@-ms-keyframes play{
    from {background-position: 0px;}
    to {background-position: -512px;}
}

@-o-keyframes play{
    from {background-position: 0px;}
    to {background-position: -512px;}
}


/*Chamado de Ação inimigo 1 */

.anima2{
    background-image: url(../src/imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;

 /*Indicação da animação em outros navegadores (Google Chrome já deu certo)*/
    -webkit-animation:play .5s steps(2) infinite;
    -moz-animation:play .5s steps(2) infinite;
    -ms-zoom-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite;
    /*Fim de animação*/
   


}