@font-face { /*Comando html3*/
    font-family: Titulo; 
    src:url(../src/fontes/ANODETONOONE.TTF);
}


                  /*Titulo do jogo*/
h1{
    font-family: Titulo; 
    font-size: 40px;
    color: #603A03;
}

body{
    background-image:url(../src/imgs/fundo.jpg);
}

/*p{
    color: red;
    background-color: black;
    margin-right: 933px;
}*/

/*Posicionamento de cada DIV*/

#container{
    width: 950px; /*Largura*/
    height: auto; /*tamanho*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fundoGame{
    width: 950px;
    height: 630px;
    background-image: url(../src/imgs/fundo_game.jpg);
    border-color: #ffffff;
    border-style: solid;
}

#jogador{

}

#inimigo1{

}
#inimigo2{}

#amigo{}

#inicio{
    width: 350px;
    height:200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;

}

